<section class='main-section alabaster' id='featured-work'>
  <div class='container'>
    <div class='row'>
      <figure class='col-lg-5 col-sm-4 wow fadeInLeft'>
        <%= image_tag('iphone.png') %>
      </figure>
      <div class='col-lg-7 col-sm-8 featured-work'>
        <h2>featured work</h2>
        <P class='padding-b'>We provide solutions in form of quizzes, polls, interesting contests and interactive tools</P>
        <div class='featured-box'>
          <div class='featured-box-col1 wow fadeInRight delay-02s'>
            <i class='fa-magic'></i>
          </div>
          <div class='featured-box-col2 wow fadeInRight delay-02s'>
            <h3>Edge cutting technolgies</h3>
            <p>To become prominent and stay in market, we choose to use latest technoligies to provide better solutions..</p>
          </div>
        </div>
        <div class='featured-box'>
          <div class='featured-box-col1 wow fadeInRight delay-04s'>
            <i class='fa-gift'></i>
          </div>
          <div class='featured-box-col2 wow fadeInRight delay-04s'>
            <h3>neatly packaged</h3>
            <p>We make sure the presentation is elegant because first impression is the last impression.</p>
          </div>
        </div>
        <div class='featured-box'>
          <div class='featured-box-col1 wow fadeInRight delay-06s'>
            <i class='fa-dashboard'></i>
          </div>
          <div class='featured-box-col2 wow fadeInRight delay-06s'>
            <h3>featured web sites</h3>
            <p>Beside custom tools and content we offer services to create featured web sites.</p>
          </div>
        </div>
        <a class='Learn-More' href='#'>Learn More</a>
      </div>
    </div>
  </div>
</section>
