<div class='overview-container'>
  <header class='header' id='header'>
    <div class='container'>
      <figure class='logo animated fadeInDown delay-07s'>
        <a href='#'><%= image_tag('logo.png') %></a>
      </figure>
      <h1 class='animated fadeInDown delay-07s'>Welcome To Content Bunch</h1>
      <ul class='we-create animated fadeInUp delay-1s'>
        <li>We are a marketing and content development company.</li>
      </ul>
      <a class='link animated fadeInUp delay-1s page-scroll' href='#service'>Get Started</a>
    </div>
  </header>
</div>
