<footer class='footer'>
  <div class='container'>
    <div class='footer-logo'><a href='#'><%= image_tag('footer-logo.png') %></a></div>
    <span class='copyright'>Copyright © 2015 | Product by <a href='http://contentbunch.com'>ContentBunch</a>.</span>
  </div>
</footer>
